 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>关于</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>Sec-SS基于著名开源项目shadowsocks搭建，以其快速、稳定、安全而享誉。采用AES-256位加密，保证您的上网通信安全无虞，同时又不影响使用速度。</p>
                </div>
                <div class="col-lg-4">
                    <p>代理服务器节点采用美国西海岸高速VPS，并且通过全新的内核加速算法，对流量进行拥塞控制，使得上网速度体验远远高于传统VPN。iOS/Android/Win/Linux 全平台通用。</p>
                </div>
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="http://www.123formbuilder.com/form-3377624/Contact-Lead-Form" class="btn btn-lg btn-outline">
                        <i class="fa fa-download"></i>
                    </a>
                </div>
            </div>
        </div>
    </section>